.content {
  width: auto;
}

h1 {
  text-align: center;
  margin: 15px;
  font-size: 25px;
}

form {
  margin: 10px 30%;
}

.item {
  overflow: hidden;
  margin-bottom: 10px;
}

label{
  float: left;
  margin-right: 20px;
  width:135px;
  padding-left: 10px;
}

.input {
  float: left;
  width: 230px;
}

.btn {
  text-align: center;
}